@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?28772066');
  src: url('../fonts/fontello.eot?28772066#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?28772066') format('woff2'),
       url('../fonts/fontello.woff?28772066') format('woff'),
       url('../fonts/fontello.ttf?28772066') format('truetype'),
       url('../fonts/fontello.svg?28772066#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-trash:before { content: '\e801'; } /* '' */
.icon-trash-1:before { content: '\e803'; } /*

/* Код для подключения шрифта в /css/stylename.css */
