body{
	color: #000;
  background: #fff;
	font-size: 16px;
	line-height: 1.3;
	font-family: 'HelveticaRegular', arial, sans-serif;
	min-width: 900px
}
.App{
	width: 50%;
	margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
}
form{
	display: block;
	width: 100%;
}
form input{
	display: block;
	outline: none;
	background: none;
	border: 0 none;
	width: 100%;
	height: 30px;
	padding: 25px 0 10px;
	border-bottom: 1px solid #9f9d9e;
}
/* .form input:nth-child(1){
	word-wrap: break-word;
} */
::-webkit-input-placeholder {color:#d3d3d3; font-size: 14px;}
::-moz-placeholder          {color:#d3d3d3; font-size: 14px;}
:-moz-placeholder           {color:#d3d3d3; font-size: 14px;}
:-ms-input-placeholder      {color:#d3d3d3; font-size: 14px;}

.sendButton{
	outline: none;
	margin: 20px 0;
	width: 130px;
	height: 36px;
	background: #00ac9c;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	border: none;
	border-radius: 3px;
	box-shadow:0px 1px 5px 0px rgba(50, 50, 50, 0.7);
	padding: 5px 15px;
}
.sendButton:active{
	box-shadow:0px 1px 5px 0px rgba(50, 50, 50, 0.7) inset;
}
table{
	width: 100%;
	height: auto;
  margin: 0 10px 10px 0;
  border-collapse: collapse;
  table-layout: fixed;
}
thead{
	margin-top: 10px;
	border-bottom: 1px solid #9f9d9e;
}
thead th{
  font-size: 14px;
  font-weight: 800;
  color: #212121;
  text-align: left;
	padding-bottom: 10px;
}
tbody tr{
	padding-bottom: 10px;
}
tbody tr td{
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  padding: 10px 20px 20px 0px;
  color: #585858;
}
.remuveItem{
  border: none;
  background: #fff;
	color: #fff;
	outline: none;

}
.remuveItem:before{
  content: "\e801";
  font-family: 'fontello';
	font-size: 18px;
  color: #212121;
}
.remuveItem:hover:before{
  content: "\e801";
  font-family: 'fontello';
	font-size: 18px;
	color: #00ac9c;
}
.sum{
  font-size: 24px;
  color: #353535;
}
